.homepage section {
  height: 90vh;
  background-image: url("/hero-image.png");
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
}

.homepage div {
  width: 50%;

  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr min-content 4rem;
  gap: 1.5rem;
  margin-left: 7rem;
}

.homepage h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #fff;
  font-weight: 800;
  align-self: end;
}

.homepage p {
  color: #fff;
  font-size: 2.5rem;
  align-self: start;
}

.cta:link,
.cta:visited {
  display: block;
  background-color: #fc6a03;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  align-self: start;
  justify-self: start;
  transition: all 0.2s linear 0s;
  font-weight: 700;
}

.cta:hover {
  background-color: #fd9d58;
}

@media only screen and (max-width: 1200px) {
  .homepage section {
    background-image: url("/hero-image-2.png");
    justify-content: center;
    align-items: start;
    padding-top: 15rem;
  }

  .homepage div {
    text-align: center;
    justify-items: center;
    margin: 0 3rem;
    width: 100%;
  }

  .cta:link,
  .cta:visited {
    justify-self: center;
    align-self: center;
    font-size: 2.5rem;
    padding: 1rem 7rem;
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .cta:link,
  .cta:visited {
    justify-self: center;
    align-self: center;
    font-size: 3rem;
  }
}
