.container {
  margin-right: 3rem;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.7rem;
  background-color: var(--color-light--1);
  border-radius: 50%;
  color: #fff;
  margin-top: 1.7rem;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}

.number:focus {
}

.numbers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));

  gap: 0.8rem;
}

@media only screen and (max-width: 900px) {
  .container {
    grid-column: 1 / -1;
    padding: 0;
    margin: 0;
  }
}

.title {
  font-size: 5rem;
  font-weight: 800;
  color: var(--color-brand--2);
}

.text {
  font-size: 1.8rem;
  text-align: left;
}

.chosenNumbers {
  margin: 2rem 0rem;
  color: var(--color-dark--2);
  border-bottom: 1px solid var(--color-brand--2);
  font-size: 2.5rem;
  font-weight: 700;
}

.btnBox {
  display: flex;
  justify-content: end;
}

.btnBox button {
}

/* CSS */
.btn {
  background-color: #ffffff;
  border: 2px solid var(--color-brand--2);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--color-brand--2);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin-left: 1.5rem;
  font-weight: 700;
}

.btn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.btn:active {
  background-color: #f7f7f7;
  border-color: var(--color-brand--2);
  transform: scale(0.96);
}

.btn:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}

.selected {
  color: #fff;
  background-color: var(--color-brand--2);
}
