.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 5rem;
  z-index: 1000;
  color: var(--color-dark--0);

  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.drawBtn {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--color-brand--1);
  border: none;
  border-radius: 4px;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;

  /* Apply the pulse animation */
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.btnBox {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.btnBox button {
  margin-right: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fff;
  color: var(--color-brand--2);
  border: 2px solid var(--color-brand--2);
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btnBox button:hover {
  background-color: var(--color-brand--2);
  color: #fff;
}

@media only screen and (max-width: 850px) {
  .modal h1 {
    font-size: 2.5rem;
  }
}
