.nav {
  display: flex;
  align-items: center;

  background: #fff;
  height: 10vh;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.logo {
  height: 8rem;
  margin-left: 3rem;
}
